  <div class="container">
    <div class="row templatemo_bordergapborder">
    <!--vertical Tabs-->
      <div id="ab">
        <div class="col-md-3 col-sm-12 templatemo_leftgap_about">
          <ul class="resp-tabs-list templatemo_tab">
            <li class="resp-tab-active">Estadisticas</li>
            <li>Tecnologia</li>
            <li>Integracion</li>
          </ul>
          <div class="templatemo_aboutlinkwrapper">
            <div class="templatemo_link">
              <a class="show-1 templatemo_homeabout" href="#">Volver</a>
            </div>
          </div>
        </div>
        <div class="resp-tabs-container templatemo_aboutcontainer">
          <div>
            <div class="templatemo_col50 templatemo_rightgap_about">
              <div class="templatemo_graybg templatemo_botgap">
                <div class="templatemo_frame">
                  <h2 style="color:#330099">Productividad</h2>
                  <p>
                    Nuestra estadística le permite tener un total control, por operador, del tiempo de llamada, de conexión, de cada gestión, de ausencias, etc.  Usted Podrá:
                    <br><br>
                    <b><i>Control y monitoreo de Agentes.</i></b>  Tiempos de situaciones normales (break, toilette, capacitación, coaching, etc.) y anormales (bloqueo por incumplimiento de tiempos límite, temporariamente inhabilitado).
                    <br><br>
                    <b><i>Administracion centralizada de equipos.</i></b> Tendrá un completo detalle de eventos diarios realizados por cada agente en forma cronológica desde que ingresa hasta que se retira. El supervisor puede realizar filtros por evento (llamadas salientes, llamadas entrantes, estado de tipeo, estado de exceso de tiempo de llamada y estados de "No Disponible").
                    <br><br>
                    Es un sistema de explotación de los datos que nos permitirá conocer el nivel de calidad que está prestando nuestro call center.
                    <br><br>
                  </p>
                  <h2 style="color:#330099">Dimensionamiento</h2>
                  <p>
                    El objetivo es optimizar la cantidad de agentes para alcanzar el <b><i>nivel de servicio deseado</i></b>, en base a complejas fórmulas que estarán a su disposición.
                    <br><br>
                    Detectando fácilmente los momentos de mayor y menor actividad, para poder dimensionar correctamente su equipo de trabajo.
                    <br><br>
                    La actividad de <i><b>llamadas Inbound</i></b> puede ser modelada en base a la duración media de la llamada, la cantidad de agentes y el índice de entrada de llamadas (la cantidad de llamadas entrantes por segundo).
                    <br><br>
                    Así, con las 3 variables, más algunos supuestos estadísticos, podremos calcular:
                    <br><br>
                  </p>
                  <ul style="padding-left: 16px;">
                    <li>
                      La ocupación media de un agente.
                    </li>
                    <li>
                      La probabilidad de que una llamada quede en espera por un lapso de tiempo superior a uno especificado.
                    </li>
                  </ul><br>
                  <p>
                    Para las <i><b>llamadas Outbound</i></b> se tendrá en cuenta:
                    <br><br>
                  </p>
                  <ul style="padding-left: 16px;">
                    <li>
                      Horario de gestión.
                    </li>
                    <li>
                      Cantidad de posibles contactos (registros).
                    </li>
                    <li>
                      Calidad de la base de datos.
                    </li>
                    <li>
                      Cantidad de intentos por llamada.
                    </li>
                    <li>
                      Duración de la llamada.
                    </li>
                    <li>
                      Tiempo administrativo post proceso.
                    </li>
                    <li>
                      Tiempo en que se requieren barrer los registros.
                    </li>
                    <li>
                      Ausentismo por permisos médicos, capacitaciones, faltas injustificadas al lugar de trabajo, atrasos en el ingreso al turno, etc.
                    </li>
                  </ul><br>
                </div>
              </div>
            </div>
            <div class="templatemo_col50 templatemo_leftgap templatemo_botgap">
              <%= image_tag "templatemo_about.jpg", alt:"about image" %>
            </div>
          </div>
          <div>
            <div class="templatemo_col50 templatemo_rightgap_about">
              <div class="templatemo_graybg templatemo_botgap">
                <div class="templatemo_frame">
                  <h2 style="color:#330099">Tecnología</h2>
                  <br>
                  <p>
                    <b><i>Central Telefónica:</i></b> Podemos implementar una Central Telefónica Virtual o Física. Podemos también instalar Centrales Telefónicas con *Asterisk.<br><br>
                    <b><i>Reducción de Costos:</i></b> Economía en los costos de comunicación por selección de tecnologías y proveedores de 
                    infraestructura.<br><br>
                    <b><i>Selección y Control de Proveedores:</i></b> Multiplicidad de proveedores de infraestructura y comunicación: Reducción de costos por competencia, y securitización. Producción de indicadores de performance de los prestadores.<br><br>
                    <b><i>Control de Costos:</i></b> Control y seguimiento de los costos, posterior a la contratacion.<br><br>
                  </p>
                </div>
              </div>
            </div>
            <div class="templatemo_col50 templatemo_leftgap templatemo_botgap">
              <%= image_tag "templatemo_team.jpg", alt:"history image" %>
            </div>
          </div>
          <div>
            <div class="templatemo_col50 templatemo_rightgap_about">
              <div class="templatemo_graybg templatemo_botgap">
                <div class="templatemo_frame">
                  <h2 style="color:#330099">Integracion</h2>
                  <br/>
                  <p>
                  <b><i>IVR:</i></b> configuración de un menú de atención de llamados que se adapta a sus necesidades.<br/><br/>
                  <b><i>CRM:</i></b> integración total con los sistemas de gestión que utilizan sus operadores, para obtener la mayor calidad de información, para la toma de decisiones.<br/><br/>
                  <b><i>CTI-Discador Predictivo:</i></b> Podemos integrar el mundo de la telefonía con el de la informática, para obtener grandes mejoras en la atención de sus clientes.<br/><br/>
                  </p>
                </div>
              </div>
            </div>
            <div class="templatemo_col50 templatemo_leftgap templatemo_botgap">
              <%= image_tag "templatemo_vision.jpg", alt:"vision image" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 templatemo_leftgap templatemo_aboutlinkwrapper1">
        <div class="templatemo_aboutback templatemo_botgap">
          <div class="templatemo_link">
            <a class="show-1 templatemo_homeabout" href="#">Volver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
