	<div class="container">
  	<div class="row templatemo_bordergapborder">
    	<div class="col-md-3 col-sm-12 templatemo_leftgap">
      	<div class="templatemo_mainimg templatemo_botgap max_315_cont">
          <%= image_tag "templatemo_contact1.jpg", :height => "100%" %>
        </div>
        <div class="templatemo_maincontact templatemo_botgap">
        	<div class="templatemo_linkcontact">
            <a class="show-1 templatemo_homecontact" href="#">Volver</a>
          </div>
        </div>
      </div>
      <div class="templatemo_col37 col-sm-12 templatemo_leftgap">
        <div class="templatemo_graybg templatemo_paddinggap mid_left_heig_cont">
          <%= render "contact_create" %>
        </div>
      </div>
      <div class="templatemo_col37 col-sm-12 templatemo_leftgap templatemo_topgap">
      	<div class="templatemo_graybg templatemo_paddinggap mid_left_heig_cont">
         	<h2>Nuestra Direccion</h2>
          <div class="clear"></div>
          <div class="templatemo_contactmap">
  					<div id="templatemo_map"></div>                        
 	        </div>
          <div class="templatemo_address">
             	San Martin 986. CABA. Argentina.<br>
           	  Tel: +54911 6175-0239.<br>
              Email: info@texhaarg.com
          </div>
        </div>
      </div>
    </div>
  </div>
