  <div class="container">
    <div class="row templatemo_bordergapborder">
      <div class="col-md-3 col-sm-12 templatemo_leftgap">
        <div class="templatemo_mainimg templatemo_botgap max_315_empr2">
          <%= image_tag "mundo_v.jpg", height: "100%" %>
        </div>
        <div class="templatemo_mainservice templatemo_botgap">
          <div class="templatemo_linkservice">
            <a class="show-1 templatemo_homeservice" href="#">Volver</a>
          </div>
        </div>
      </div>
      <div class="templatemo_col37 col-sm-12 templatemo_leftgap">
        <div class="templatemo_graybg mid_heig_emp">
          <div class="templatemo_frame">
            <h2 style="color:#330099">¿Qué hacemos?</h2>
            <div class="clear"></div>
            <p>
              Somos una Empresa que brinda Servicios de Informática, ofreciendo <i>Soluciones Creativas</i> a los problemas que enfrentan los negocios en la actualidad.
              <br><br>
              <b><i>Nuestra Misión</b></i> es implementar Soluciones Tecnológicas simples, que faciliten el crecimiento de las empresas y el desarrollo de su negocio.
            </p><br>
            <h2  style="color:#330099">¿Por qué Elegirnos?</h2>
            <div class="clear"></div>
            <ul style="padding-left: 16px;">
              <li>
                Porque nuestro <b><i>Conocimiento y Experiencia</i></b>, adquiridos a través de los años, nos permitió perfeccionar la metodología de trabajo, para abordar desde pequeños proyectos hasta proyectos con grandes cambios estructurales.
              </li>
              <li>
                Porque contamos con la <b><i>Flexibilidad</i></b> que los negocios hoy requieren. Podemos implementar soluciones en forma directa o podemos facilitar las herramientas disponibles en el mercado y asesorar en su correcta utilización.
              </li>
              <li>
                Por nuestro <b><i>Compromiso</i></b> en generar Soluciones Prácticas y Simples de implementar. 
              </li>
            </ul><br>
            <h2  style="color:#330099">Nuestra Metodologia</h2>
            <div class="clear"></div>
            <p>
              En Todos los Casos, trabajamos con Ud. para establecer un Diagnóstico y para realizar un Análisis Exhaustivo de los siguientes temas:
            </p>
            <ul style="padding-left: 16px;">
              <li>
                La situación actual del negocio y de su entorno.
              </li>
              <li>
                Las necesidades y las oportunidades que se presentan.
              </li>
              <li>
                La tecnología presente y la disponible en el mercado.
              </li>
            </ul>
            <p>
              Esta determinación se realiza sobre la base de datos y hechos recogidos y ordenados sistemáticamente, que permiten juzgar mejor qué es lo que está pasando y cuál es la tendencia.
            </p>
          </div>
        </div>
      </div>
      <div class="templatemo_col37 col-sm-12 templatemo_leftgap templatemo_topgap">
        <div class="templatemo_mainimg templatemo_botgap max_315_empr">
          <%= image_tag "templatemo_service2.jpg", height: "100%" %>
        </div>
      </div>
    </div>
  </div>














































