  <div class="container">
    <div class="row templatemo_bordergapborder">
    <!--vertical Tabs-->
      <div id="cmt" class="resp-vtabs">
        <div class="col-md-3 col-sm-12 templatemo_leftgap_about">
          <ul class="resp-tabs-list templatemo_testitab">
            <li id="liestra" class="resp-tab-active">Estrategias</li>
            <li>Costos</li>
            <li>Exclusive</li>
          </ul>
          <div class="templatemo_aboutlinkwrapper">
            <div class="templatemo_link">
              <a class="show-1 templatemo_hometestimonial" href="index.html">Volver</a>
            </div>
          </div>
        </div>
        <div class="resp-tabs-container templatemo_testicontainer">
          <div>
            <div class="templatemo_col50 templatemo_rightgap_about">
              <div class="templatemo_graybg templatemo_botgap">
                <div class="templatemo_frame">
                  <h2 style="color:#330099">Inteligencia de Negocios</h2>
                  <div class="clear"></div>
                  <p>
                    ¿Que es la Inteligencia de Negocios?<br/>
                    Es una tecnica (muy utilizada en las grandes empresas) que diferencia los <u>Datos</u>, de la <u>Información</u>, del <u>Conocimiento</u>.<br/>
                    Por ejemplo, un dato es algo vago: "10.000", la información es algo más preciso: "Las ventas del mes de mayo fueron de $10.000", y el conocimiento se obtiene mediante el análisis de la información: "Las ventas del mes de mayo fueron $10.000. Mayo es el mes más bajo en ventas".
                  </p><br>
                  <h2 style="color:#330099">Beneficios</h2>
                  <div class="clear"></div>
                  <p>
                    Le acercamos una plataforma tecnológica, construida en base al conocimiento y las técnicas adquiridas en compañías de nivel nacional e internacional.<br/>
                    Para transformar los datos disponibles, en información y conocimiento, y así mejorar el desempeño de la empresa, promoviendo su ventaja competitiva en el mercado.<br/><br/>
                    De esta manera se pueden establecer nuevas estrategias, determinando cuáles son las fortalezas y las oportunidades.
                    <br><br>
                    En resumen, la Inteligencia de Negocios ayuda a la organización a tomar mejores decisiones y más rápidas.
                    <br><br>
                  </p><br>
                </div>
              </div>
            </div>
            <div class="templatemo_col50 templatemo_leftgap templatemo_botgap">
              <%= image_tag "templatemo_testimonial1.jpg" %>
            </div>
          </div>
          <div id="divcostos">
            <div class="templatemo_col50 templatemo_rightgap_about">
              <div class="templatemo_graybg templatemo_botgap">
                <div class="templatemo_frame">
                  <h2 style="color:#330099">Optimización costos Telefonía</h2>
                  <div class="clear"></div>
                  <p>
                    La tecnología permite hoy cosas impensadas hasta hace pocos años. Lo que ayer estaba restringido a grandes corporaciones hoy está disponible para todos aquellos que lo sepan ver.<br/>
                    Podemos ayudarlo, poniendo a disposición de la empresa soluciones de telefonía acordes a sus desafíos. Acompañando su crecimiento y brindando el soporte para sus comunicaciones.<br/>
                    <b><u>Tecnología</u>:</b> Economía de costos de comunicación por selección de tecnologías. Central Telefónica tradicional o IP (Virtual o Física).<br/>
                    <b><u>Selección y Control de Proveedores</u>:</b> Multiplicidad de proveedores de infraestructura y comunicación: Reducción de costos por competencia. Producción de indicadores de performance de los prestadores.<br/>
                  </p><br>
                  <h2 style="color:#330099">Beneficios</h2>
                  <div class="clear"></div>
                  <p>
                    Se obtienen tarifas adecuadas, con servicios innovadores, con infraestructura que puede utilizar, para potenciar su negocio.
                    <br><br>
                  </p><br>
                  </div>
              </div>
            </div>
            <div class="templatemo_col50 templatemo_leftgap templatemo_botgap">
              <%= image_tag "templatemo_testimonial2.jpg" %>
            </div>
          </div>
          <div>
            <div class="templatemo_col50 templatemo_rightgap_about">
              <div class="templatemo_graybg templatemo_botgap">
                <div class="templatemo_frame">
                  <h2 style="color:#330099">Soluciones a Medida</h2>
                  <div class="clear"></div>
                  <p>
                    ¿Qué es un desarrollo a medida?<br/>
                    Un desarrollo a medida consiste en la elaboración de un software, basado en las especificaciones particulares del cliente.<br/>
                    De esta manera el producto se adapta a las necesidades del cliente y no al revés.<br/><br/>
                    Cada empresa cuenta con necesidades, intereses y problemas diferentes. Dichas diferencias se basan en las características y particularidades de sus negocios, y de la realidad del mercado del cual forman parte.<br/>
                    Para la creación de un Desarrollo a Medida, es necesaria la definición de un Proyecto:<br/><br/>
                  </p>
                  <h2 style="color:#330099">¿Qué es un proyecto?</h2>
                  <p>
                    Un proyecto es un emprendimiento, que está organizado para cumplir con un objetivo específico, en un tiempo 
                    determinado.<br/>
                  </p>
                  <ul style="padding-left: 16px;">
                    <li>
                      Es acotado en el tiempo. Tiene un comienzo, un fin y un cronograma de trabajo determinado.
                    </li>
                    <li>
                      Facilita la identificación de problemas en forma temprana, reduciendo costos asociados.
                    </li>
                    <li>
                      Permite al cliente establecer expectativas adecuadas para cada entrega.
                    </li>
                    <li>
                      Construcción progresiva. Su desarrollo es en etapas y con incrementos sucesivos.
                    </li>
                    <li>
                      Proporciona un marco metodológico
                    </li>
                  </ul><br>
                </div>
              </div>
            </div>
            <div class="templatemo_col50 templatemo_leftgap templatemo_botgap">
              <%= image_tag "templatemo_testimonial3.jpg" %>
            </div>
          </div>
        </div>
      </div>
<!--  <div class="col-sm-12 templatemo_leftgap templatemo_aboutlinkwrapper1">
        <div class="templatemo_aboutback templatemo_botgap">
          <div class="templatemo_link">
            <a class="show-1 templatemo_hometestimonial" href="#">Go Back</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
